
@{
    ViewData["Title"] = "AddChore";
}
<style>
      #editChoreHeader {
        text-align: center;
        font-style: oblique;
        color: #0094ff;
        background-color: black;
        font-weight: 900;
    }

    #editChoreForm {
        text-align: justify;
        color: #0094ff;
        columns: auto;
        font-weight: 900;
    }
    body {
        background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    body {
        background-color: powderblue;
    }

    h1 {
        color: gold;
    }

    p {
        color: gold;
    }
</style>

<h1 id="addChoreHeader"><u>Add Chore</u></h1>

<form id="addChoreForm" action="../Chore/AddChore" method="post" style="background-color:WindowFrame" class="col-4">
    <br /><br />
    Name: <input type="text" name="ChoreName" placeholder="Name" /><br /><br />
    Description: <input type="text" name="ChoreDescription" placeholder="Description" /><br /><br />
    Point Value: <input type="number" min="1" max="10" name="PointValue" required /><br /><br />
    Due Date: <input type="date" name="DueDate" required /><br /><br />
    <input type="submit" value="Add Chore!" class="btn-success" />
    <br /><br />
</form>
