
@{
    ViewData["Title"] = "AddChore";
}
<style>
      #addChoreHeader {
        text-align: center;
        color: gold;
        font-weight: 900;
    }

    #editChoreForm {
        text-align: justify;
        color: #0094ff;
        columns: auto;
        font-weight: 900;
    }
    body {
        background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    body {
        background-color: powderblue;
    }

    h1 {
        color: gold;
    }

    p {
        color: gold;
    }
    //overflow scroll
    //
</style>

<h1 id="addChoreHeader">Add Chore</h1>

<form id="addChoreForm" action="../Chore/AddChore" method="post" style="color:gold; font-weight:900" class="text-center">
    <br />
    Name: <input type="text" name="ChoreName" maxlength="50" placeholder="Name" /><br /><br />
    Description: <input type="text" name="ChoreDescription" maxlength="250" placeholder="Description" /><br /><br />
    Point Value: <input type="number" min="1" max="10" name="PointValue" required /><br /><br />

    @{ var myDate = DateTime.Now.ToString("yyyy-mm-dd");}
    Due Date: <input type="date" name="DueDate" required min="@myDate"/><br /><br />

    <input type="submit" value="Add Chore!" class=" btn btn-success" />
    <br /><br />
</form>
