
@{
    ViewData["Title"] = "AssignChore";
}

<h1>Assign Chore</h1>

<form action="../Chore/AssignChore" method="post">
    
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />


</form>