
@{
    ViewData["Title"] = "AssignChore";
}
@model Chore

<h1>Assign Chore</h1>

<form action="../Chore/AssignChore" method="post">

    @*<input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />*@

    @*<input type="number" name="points" value="@Model.results[0].point_value" />*@

</form>