
@{
    ViewData["Title"] = "EditChore";
}

@model Chore

<style>
    body {
        background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #editChoreHeader {
        text-align: center;
        color: gold;
        font-weight: 900;
    }

    #editChoreForm {
        text-align: justify;
        color: gold;
        font-weight: 900;
    }
</style>

<h1 id="editChoreHeader">Edit Chore</h1>

<div id="editChoreForm">
    <form action="../Chore/EditChore" method="post" style="color:gold; font-weight:900" class="text-center">
        <input type="hidden" name="ChoreId" value="@Model.ChoreId" /> <br /><br />
        Name: <input type="text" name="ChoreName" value="@Model.ChoreName" /><br /><br />
        Description: <input type="text" name="ChoreDescription" value="@Model.ChoreDescription" /><br /><br />
        Point Value: <input type="number" min="1" max="100" name="PointValue" required /><br /><br />

        @{ var myDate = DateTime.Now.ToString("yyyy-mm-dd");}
        Due Date: <input type="date" name="DueDate" required min="@myDate" /><br /><br />

        <input type="submit" value="Save Changes" class="btn btn-success" />
        <br /><br />

    </form>

</div>

