
@{
    ViewData["Title"] = "EditChore";
}

@model Chore

<h1>Edit Chore</h1>

<form action="../Chore/EditChore" method="post">
    <input type="hidden" name="ChoreId" value="@Model.ChoreId" />
    <input type="text" name="ChoreName" value="@Model.ChoreName" />
    <input type="text" name="ChoreDescription" value="@Model.ChoreDescription" />
    <input type="submit" value="Save Changes" />

</form>


