
@{
    ViewData["Title"] = "EditChore";
}

@model Chore

<h1>Edit Chore</h1>

<form action="../Chore/EditChore" method="post">
    <input type="hidden" name="ChoreId" value="@Model.ChoreId" />
    <input type="text" name="ChoreName" value="@Model.ChoreName" />
    <input type="text" name="ChoreDescription" value="@Model.ChoreDescription" />
    Point Value: <input type="number" min="1" max="10" name="PointValue" required />
    Due Date: <input type="date" name="DueDate" required />

    <input type="submit" value="Save Changes" />

</form>


