
@{
    ViewData["Title"] = "ErrorPage";
}

    <style>
        body {
            background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

    </style>


<h1>Error</h1>
<br />
<h3>You do not have enough points to buy that chore!</h3>
<br />
<a class="btn-success" href="../Chore/AssignChore">Return to Assign Chore page!</a>

