
@{
    ViewData["Title"] = "AddNewPlayer";
}

    <style>
        body {
            background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #newPlayerHeader {
            text-align: center;
            color: gold;
            font-weight: 900
        }

        #newPlayerForm {
            text-align: justify;
            color: gold;
            columns: auto;
            font-weight: 90;
        }
    </style>

<h1 id="newPlayerHeader"Add New Player</h1>

<form action="../Household/AddNewPlayer" method="post" id="newPlayerForm" class="col-4">
    <br /><br />
    First Name: <input type="text" name="FirstName" placeholder="First Name" /><br /><br />
    Last Name: <input type="text" name="LastName" placeholder="Last Name" /><br /><br />
    Age: <input type="number" name="Age" placeholder="Age" /><br /><br />
    <input type="submit" value="Add Player!" class="btn btn-primary"/>
    <br /><br />
</form>

