
@{
    ViewData["Title"] = "Result";
}
<style>
    body {
        background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #choreWarsHeader {
        text-align: center;
        color: gold;
        font-weight: 900
    }
    #p{
        color: gold;
    }
    #a{
        color: gold;
    }
</style>



<h1 id="choreWarsHeader">Result:</h1>
<br />

@model string

<div class="text-center">
    <h3 style="color:gold">@Model</h3>
    <br />  
    <p style="color:gold;"><a class="btn btn-primary" href="../Question/SelectQuestion">Try Again?</a></p>
</div>

