
@{
    ViewData["Title"] = "SelectQuestion";
}

<h1>SelectQuestion</h1>




<form action="../Question/SelectQuestion" method="post">
    
    Category:<select  name="category">
    <option value="10">Books</option>
    <option value="15">Video Games</option>
    </select>

    <input type="submit" name="difficulty" value="easy" />
    <input type="submit" name="difficulty" value="medium" />
    <input type="submit" name="difficulty" value="hard" />
</form>

    