
@{
    ViewData["Title"] = "SelectQuestion";


<h1>SelectQuestion</h1>

@model Player

    <p>Hello @Model.FirstName</p>

<form action="../Question/SelectQuestion" method="post">
    <input type="submit" name="difficulty" value="easy" />
    <input type="submit" name="difficulty" value="medium" />
    <input type="submit" name="difficulty" value="hard" />
</form>

    }