
@{
    ViewData["Title"] = "ViewQuestions";
}

@model List<Question>

<h1>View Questions</h1>

<table class="table table-bordered">
    @foreach (Question question in Model)
    {
        <tr>
            <td>@question.Category</td>
            <td>@question.Difficulty</td>
            <td>@question.Question1</td>
            <td><a href="../Question/EditQuestion?id=@question.QuestionId">Edit</a></td>
            <td><a href="../Question/DeleteQuestion?id=@question.QuestionId">Delete</a></td>
        </tr>
    }
</table>
<form action="../Question/AddQuestion" method="get">
    <input class="btn btn-primary" type="submit" value="Add A Question" />
</form>