@{
    ViewData["Title"] = "Home Page";
}

@model List<Player>
<style>
    body {
        background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #choreWarsHeader {
        text-align: center;
        color: gold;
        font-weight: 900
    }

    #choosePlayer {
        text-align: center;
        color: gold;
        font-weight: 500;
    }

    #playerLink {
        color: gold;
    }
</style>



<h1 id="choreWarsHeader"><u>WELCOME TO CHORE WARS!</u></h1>
<img src="Chore_Wars\Images\300px-Pepe_Silvia.jpg" alt="Alternate Text" />
<br />

@if (User.Identity.IsAuthenticated)
{
    <h3 id="choosePlayer"><u>CHOOSE YOUR PLAYER</u></h3>
    @foreach (var player in Model)
    {
        <div class="text-center">
            <p class="text-center"><a class="btn btn-primary" href="../Home/LoginPlayer?id=@player.UserId" id="playerLink">@player.FirstName @player.LastName</a></p>
        </div>
    }
}







