@{
    ViewData["Title"] = "Home Page";
}

@model List<Player>

<div class="text-center">
    <h1 class="display-4">CHORE WARS!</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>CHOOSE YOUR PLAYER</p>
    @foreach (var player in Model)
    {
        <p><a href="../Home/LoginPlayer?id=@player.UserId">@player.FirstName @player.LastName</a></p>
    }
}

