
@{
    ViewData["Title"] = "AddPlayer";
}

<h1>AddPlayer</h1>



<form action="../Player/AddPlayer" method="post" class="form-control">
   First Name: <input type="text" name="FirstName" placeholder="First Name" />
   Last Name: <input type="text" name="LastName" placeholder="Last Name" />
   Age: <input type="number" name="Age" placeholder="Age" />
    

    


    <input type="submit" value="Add Player!" />




</form>